[flake8]
max-line-length = 120

# Black-конфликты, пустые строки и мелкие whitespace-ошибки
extend-ignore =
    E203,
    W503,
    E302,
    E303,
    W291,
    W293,
    E731,
    F401,
    F403,
    F841

exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .github

show-source = True
