name: Deploy Docs
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with: {python-version: '3.x'}
      - name: Install dependencies
        run: pip install -r docs/requirements.txt
      - name: Build docs
        run: |
          export CI=1
          cd docs
          make mermaid
          make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
