name: Snap & Flatpak Packaging
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  snap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Install Snapcraft
        run: sudo snap install snapcraft --classic
      - name: Build Snap
        run: snapcraft --version && snapcraft --destructive-mode
      - name: Upload Snap Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zilant.snap
          path: '*.snap'
  flatpak:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup Flatpak
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak-builder
      - name: Build Flatpak
        run: flatpak-builder --force-clean build-dir flatpak/org.zilant.Zilant.json
      - name: Bundle Flatpak
        run: flatpak build-bundle build-dir org.zilant.Zilant.flatpak org.zilant.Zilant
      - name: Upload Flatpak Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zilant.flatpak
          path: org.zilant.Zilant.flatpak
